<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Creavids | Blog</title>
	<link rel="stylesheet" href="./build/tailwind.css">
	<link rel="stylesheet" href="./build/custom.css">
 <link rel="stylesheet" href="./build/animation/aos.css" />
 <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900|Open+Sans&display=swap" rel="stylesheet">
</head>
<body class="antialiased bg-grey-200 overflow-x-hidden mx-auto">
 <header class="lg:px-16 px-6 lg:py-0 py-2 flex items-center w-full fixed z-50">
  <div class="flex flex-1 justify-between items-center">
   <div class="flex flex-wrap items-center">
    <img src="./Assets/staticLogo.png" class="p-3	w-24" alt="">
    <a href="/index.html" class="text-3xl text-teal-300 font-hairline">Creavids</a>
   </div>
   <div class="hidden lg:inline p-4">
    <nav>
     <ul class="flex flex-1">
      <li>
       <a href="/process.html" class="text-gray-800 uppercase mr-4 text-sm font-semibold tracking-wide">Process</a>
      </li>
      <li>
       <a href="/about.html" class="text-gray-800 uppercase mr-4 text-sm font-semibold tracking-wide">About</a>
      </li>
      <li>
       <a href="/explore.html" class="text-gray-800 uppercase mr-4 text-sm font-semibold tracking-wide">Explore</a>
      </li>
      <!-- <li>
       <a href="/public/services.html" class="text-gray-800 uppercase mr-4 text-sm font-semibold tracking-wide">Services</a>
      </li> -->
      <li>
       <a href="/blog.html" class="text-gray-800 uppercase mr-4 text-sm font-semibold tracking-wide">Blog</a>
      </li>
      <!-- <li>
       <a href="/contact.html" class="text-gray-800 uppercase mr-5 text-sm font-semibold tracking-wide">Contact</a>
      </li> -->
      <li>
       <a href="/contact.html" class="text-white mr-2 mt-5 px-4 py-2 font-bold uppercase shadow-xl rounded-full" style="background: linear-gradient(90deg, #41e1f2 0%, #AFE776 100%)">Request A Quote</a>
      </li>
     </ul>
    </nav>
   </div>
  </div>
 </header>

		<main class="lg:py-24 items-center bg-creavidsLightGray">
					<section class="bg-gray-300">
							<img class="w-64 pt-6 mx-auto"  src="./Assets/blog/Blog-01.png" alt="">
							<h1 class="py-4 text-center text-3xl uppercase font-semibold text-gray-800"> Explore Video Samples </h1>
					</section>

						<section class="mx-auto max-w-screenFullWidth h-full">
								<div id="app">
										<section class="py-32" v-if="loader">
												<div class="flex flex-wrap	mx-auto" >
													<!-- <img src="./Assets/logo.gif" class="mx-auto" alt="Loading-logo"> -->
												</div>
										</section>
										<section v-if="showAllPost">
											<div class="flex flex-wrap	mt-8">
													<div class="sm:full md:1/2 lg:w-1/3 overflow-hidden my-4 px-4 h-auto" v-for="(blogArticle , index) in this.blogArticles[0]">
														<a :href="blogArticle.link"><img class="w-full" :src="blogArticle._embedded['wp:featuredmedia']['0'].source_url" alt=""></a>
															<div class="px-6 py-4 bg-white">
																	<div class="mb-2"><a :href="blogArticle.link"><h1 class="font-semibold" :inner-html.prop="blogArticle.title.rendered"></a></div>
															</div>
															<div class="px-6 py-4 bg-white text-center">
																	<a :href="blogArticle.link" class="mr-2 mt-5 px-4 py-2 no-underline hover:underline text-blue-500 text-lg border-2 border-teal-300 hover:shadow-outline rounded-full">Read More</a>
															</div>
													</div>
											</div>
										</section>
										<section v-else-if="showFullPost">
											<h1 v-html="blogArticles[0][this.fullPostIndex].title.rendered"></h1>
											<p v-html="blogArticles[0][this.fullPostIndex].content.rendered"></p>
										</section>
									</div>
						</section>
		</main>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
		<script src="https://unpkg.com/vue-router"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="./build/animation/aos.js"></script>
		<script>
			AOS.init();

   Vue.filter('truncate', function (value, limit) {
  if (value.length > limit) {
      value = value.substring(0, (limit - 3)) + '...';
  }

  return value
})

var app = new Vue({
	el: '#app',
	data: {
			blogArticles:[],
			showAllPost: false,
			showFullPost:false,
			fullPostIndex:"",
			loader:true
			},
	methods:{
		loadBlogArticles(){
			axios.get('https://blog.creavids.co/wp-json/wp/v2/posts?_embed').then(function(response){
				this.loader = false;
				this.showAllPost = true;
				this.blogArticles.push(response.data)
			}.bind(this))
			},

			loadFullPost(el_id){
				this.showAllPost = false;
				this.showFullPost = true;
				this.fullPostIndex = el_id;
			}
		},
	created:function(){
		this.loadBlogArticles();
		},
})


		</script>
</body>
</html>